<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

    <% usersWithSecrets.forEach(user => { %>
      <% user.secrets.forEach(secret => { %>
        <div class="secret-item" style="height: auto; display: flex; justify-content: space-between; align-items: flex-start; background-color: rgb(21, 21, 21); color: white; padding: 10px; margin-bottom: 10px; border-radius: 10px; word-wrap: break-word; white-space: normal;">
          <p class="secret-text"><%= secret %></p>
          <% if (user.id === currentUserId) { %>
            <form action="/delete" method="POST" style="display:inline;">
              <input type="hidden" name="secret" value="<%= secret %>">
              <button type="submit" style="background: none; border: none; color: white; cursor: pointer; padding: 15px;">
                <i class="fas fa-trash" style="font-size: 16px;"></i>
              </button>
            </form>
          <% } %>
        </div>
      <% }) %>
    <% }) %>



    <hr>
    <a class="btnn btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btnn btn btn-light btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
